/* main-color: #803953

   background-color: #EEEEEE

   white-color: #FFFFFF

   font-family: "Segoe UI",Arial,sans-serif; 
*/

.container {
  border: 1px #803953 solid;
  height: inherit;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;

}

/* ↓↓↓↓↓↓↓↓↓↓ NAV-BAR ↓↓↓↓↓↓↓↓↓↓ */
.nav-bar {
  height: 46px; 
}
/* ↑↑↑↑↑↑↑↑↑↑ NAV-BAR ↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓ LEFT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */
.left-sidebar {
  height: 500px;
  width: 220px;
}

.profile-card {
  border: 1px #803953 solid;
  height: 50%;
}

.trending-module {
  border: 1px #803953 solid;  
  height: 50%;
}
/* ↑↑↑↑↑↑↑↑↑↑ LEFT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */



/* ↓↓↓↓↓↓↓↓↓↓ RIGHT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */
.right-sidebar {
  height: 500px;
  width: 220px;

}

.follow-module {
  border: 1px #803953 solid;  
  height: 50%;
}

.footer {
  border: 1px #803953 solid;  
  height: 50%;
}
/* ↑↑↑↑↑↑↑↑↑↑ RIGHT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */



/* ↓↓↓↓↓↓↓↓↓↓ MAIN-SECTION ↓↓↓↓↓↓↓↓↓↓ */
.main-section {
  height: 1000px;
  width: 500px;
}

#tweet-box {
  background-color: #F3E2E8;
}

#tweet-input-wrapping {
  background-color: #FFFFFF;
  border: 1px #803953 solid;
  line-break: after;
  margin-left: 70px;
}

#input-avatar {
  position: absolute;
  top: 10px;

}

#tweet-input::placeholder {
  color: #803953;
  font-size: 14px;
}

/* #tweet-input {
  margin: auto 0;
} */

/* ↑↑↑↑↑↑↑↑↑↑ MAIN-SECTION ↑↑↑↑↑↑↑↑↑↑ */




