/* main-color: #803953

   background-color: #EEEEEE

   white-color: #FFFFFF

   font-family: "Segoe UI",Arial,sans-serif; 
*/

.container {
  border: 1px #803953 solid;
  height: inherit;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;

}

/* ↓↓↓↓↓↓↓↓↓↓ NAV-BAR ↓↓↓↓↓↓↓↓↓↓ */
.nav-bar {
  height: 46px; 
}
/* ↑↑↑↑↑↑↑↑↑↑ NAV-BAR ↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓ LEFT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */
.left-sidebar {
  height: 500px;
  width: 220px;
}

.profile-card {
  border: 1px #803953 solid;
  height: 50%;
}

.trending-module {
  border: 1px #803953 solid;  
  height: 50%;
}
/* ↑↑↑↑↑↑↑↑↑↑ LEFT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */



/* ↓↓↓↓↓↓↓↓↓↓ RIGHT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */
.right-sidebar {
  height: 500px;
  width: 220px;

}

.follow-module {
  border: 1px #803953 solid;  
  height: 50%;
}

.footer {
  border: 1px #803953 solid;  
  height: 50%;
}
/* ↑↑↑↑↑↑↑↑↑↑ RIGHT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */



/* ↓↓↓↓↓↓↓↓↓↓ MAIN-SECTION ↓↓↓↓↓↓↓↓↓↓ */
.main-section {
  height: 1000px;
  width: 500px;
}

#tweet-box {
  background-color: #F3E2E8;
}

#tweet-input-wrapping {
  background-color: #FFFFFF;
  border: 1px #803953 solid;
  line-break: after;
  margin-left: 70px;
}

#input-avatar {
  position: absolute;
  top: 10px;

}

#tweet-input::placeholder {
  color: #803953;
  font-size: 14px;
}

/* #tweet-input {
  margin: auto 0;
} */

/* ↑↑↑↑↑↑↑↑↑↑ MAIN-SECTION ↑↑↑↑↑↑↑↑↑↑ */

/* Hasan */

#custom-bg{
  height:50%;
  background-image: url("images/background.jpeg");
  background-size:cover;
}

#profile-pic {
  height:70px;
  width:70px;
  border:1px solid white;
  border-radius:50px;
  position: absolute;
  top:100px;
  left:30px;
  margin-left:10px;

}

#profile-info{
height:50%
}

#profile-name {
  font-size:15px;
  margin-left:40px;
  font-weight:bold;
}
#twitter-contact {
  font-size:13px;
}

#custom-col {
  height:50%;
}
#twitter-stats-numbers{
  display:block;
  color:#803953;
  font-weight:bold;
  font-size:14px;

}

#twitter-stats-category{
  font-weight:bold;
  color:#657786;
  font-size:12px;
}


#custom-li {
  list-style-type:none;
 display:inline-block;
 font-size:12px;
 padding-left:0;
}

#custom-ul {
  padding:0;
}

/* @media only screen and (max-width: 1200px) {
  #profile-pic {
    height:50px;
    width:50px;
    display:relative;
    top:115px;
    left:25px;
  }
} */

#trend-title {
  font-size:14px;
  font-weight:bold;
}

#trending-titles {

}

#trends-link {
  font-size:9px;
  color:#803953;
  margin-left:3px;
}

#custom-li-trending{
  list-style-type: none;
  text-align:left;
  color:#803953;
}

#number-of-tweets {
  list-style-type: none;
  text-align:left;
  color:#657786;
  font-size:12px;

}

#custom-ul-trending{

  padding-top:10px;
}

#follow-heading {
display:flex;
/* justify-content: space-between; */
padding-top:10px;
}

#follow-title{
  font-size:15px;
  padding-left:10px;
  font-weight:bold;
}

#follow-links {
  font-size:8px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right:5px;
}

#follow-links-1 {
  font-size:8px;
  padding-right: 10px;
  padding-top: 5px;
}

#profile-pic-follow{
  height:36px;
  border-radius: 50px;
  width:36px;
}

#follow-content {
  display:flex;
  border-bottom:1px solid #e6ecf0;
  margin-left:10px;
  margin-bottom:10px;
}

#follow-text {
  font-size:12px;
  margin-bottom:0;
}

#follow-button-text {
  display:flex;
  flex-direction: column;
}

#custom-button {
  padding: 0;
  border-radius: 50px;
  height: 70%;
    width: 70%;
    background-color: #803953;
    font-size:10px;
    border:#803953;
}

span#twitter-handle{
  padding-left:5px;
  font-size:11px;
  color:#657786;
}

#custom-footer{
color:#657786 !important;
font-size:8px;
}