/* main-color: #803953

   pinkish color: #F3E2E8

   background-color: #EEEEEE

   white-color: #FFFFFF

   font-family: "Segoe UI",Arial,sans-serif; 
*/

.container {
  /* border: 1px #803953 solid; */
  height: inherit;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
  /* > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
} */


body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #E6ECF0;
  margin-top: 48px;
}


/* ↓↓↓↓↓↓↓↓↓↓ NAV-BAR ↓↓↓↓↓↓↓↓↓↓ */

#content-left {
  font-size: 14px;
  font-weight: bold;
  color: lightgray
}

#content-left:hover {
  font-size: 14px;
  font-weight: bold;
  color: #9e4767;
}

@media only screen and (max-width: 1026px) {
  #content-left {
    display: none;
  }
}

#left-icon {
  font-size: 14px;
  font-weight: bold;
  color: lightgray;
}

#left-icon:hover {
  font-size: 14px;
  font-weight: bold;
  color: #9e4767;
}

@media only screen and (max-width: 1026px) {
  #left-icon {
    margin: 10px;
  }
}


/* ul {
    display: inline-block;
}

ul li i {
    display: inline-block;
    vertical-align: middle;
} */

#brand-logo {
  position: absolute;
  left: 45%;
}

#search-frame {
  border-radius: 100px;
  width: 150px;
  height: 30px;
  font-size: 12px;
  /* position: absolute; */
  right: 20%;
}

#search-frame:focus {
  border: 1px solid #803953;
  width: 200px;
}

@media only screen and (max-width: 1026px) {
  #search-frame {
    display: none;
  }
}

.search .fa-search {
  position: relative;
  right: 26%;
  /* font-size: 15px; */
}

@media only screen and (max-width: 1026px) {
  #fa-search-icon {
    display: none;
  }
}

.form-control {
  border: 0;
}


/* .context {
    width: 500px;
    height: 35px;
    font-size: 10pt;
} */

#tweet-button {
  background-color: #9e4767;
  border: 1px solid #803953;
  color: #fff;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  /* line-height: 20px; */
  padding: 4px 15px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

#tweet-button:hover {
  background-color: #803953;
}

@media only screen and (max-width: 1026px) {
  #tweet-button {
    display: none;
  }
}

#signin-btn {
  background-color: none;
  border: 1px solid #803953;
  color: #9e4767;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 4px 15px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

#signin-btn:hover {
  background-color: #9e4767;
  border: 1px solid #803953;
  color: #fff;
}

@media only screen and (max-width: 1026px) {
  #signin-btn {
    border: none;
  }
}


/* .nav-bar {
    min-height: 30px !important;
} */


/* ↑↑↑↑↑↑↑↑↑↑ NAV-BAR ↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓ LEFT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */

.left-sidebar {
  height: 360px;
  width: 240px;
}

.profile-card {
  height: 65%;
}

.trending-module {
}


/* ↑↑↑↑↑↑↑↑↑↑ LEFT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓ RIGHT-SIDEBAR ↓↓↓↓↓↓↓↓↓↓ */

.right-sidebar {
  width: 240px;
}

.follow-module {

  /* height: 50%; */
}

.footer {
  /* height: 50%; */
}


/* ↑↑↑↑↑↑↑↑↑↑ RIGHT-SIDEBAR ↑↑↑↑↑↑↑↑↑↑ */


/* ↓↓↓↓↓↓↓↓↓↓ MAIN-SECTION ↓↓↓↓↓↓↓↓↓↓ */

.main-section {
  width: 590px;
  font-size: 14px;
  height:360px;
}

#tweet-box {
  background-color: #F3E2E8;
}

#tweet-input-wrapping {
  background-color: #FFFFFF;
  border: 1px #803953 solid;
  line-break: after;
  margin-left: 5px;
  border-radius: 15px;
}

#tweet-input::placeholder {
  color: #803953;
}

#tweet-input {
  border: none;
  background-color: transparent;
  outline: none;
  height: 26px;
  overflow-wrap: break-word;
  resize: none;
}

#tweet-button-1 {
  background-color: #9e4767;
  border: 1px solid #803953;
  color: #fff;
  border-radius: 100px;
  box-shadow: none;
  cursor: not-allowed;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  pointer-events: auto;
}

#tweet-button-1:hover {
  background-color: #803953;
}

#tweet-content {
  padding-left: 15px;
}

#action-row>li>a>i {
  color: inherit;
  cursor: pointer;
}

.tweet {
  margin: 2px 0;
  padding: 15px 0 0 15px;
  background-color: #fff;
}

.tweet:hover {
  background-color: #F5F8FA;
}

.tweet-text {
  overflow-wrap: break-word;
}

.img-rounded {
  border-radius: 15px;
  border: 1px solid lightgray;
}

.img-rounded:hover {
  border: 1px solid gray;
}

#trash-bin {
  color: gray;
}

#trash-bin:hover {
  color: #803953;
}

.input-rounded {
  border-radius: 100px;
}

/* ↑↑↑↑↑↑↑↑↑↑ MAIN-SECTION ↑↑↑↑↑↑↑↑↑↑ */

/* Hasan */

#custom-bg {
  height: 50%;
  background-image: url("images/background.jpg");
  background-size: cover;
}

#profile-pic {
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 50px;
  position: absolute;
  top: 90px;
  left: 30px;
  right: 10px;

}

#profile-info {
  height: 50%;
  text-align: center;
}

#profile-name {
  font-size: 15px;
  margin-left: 40px;
  font-weight: bold;
}

#twitter-contact {
  font-size: 13px;
  font-weight:normal;
  color:#657786;
}

#custom-col {
  height: 50%;
}

#twitter-stats-numbers {
  display: block;
  color: #803953;
  font-weight: bold;
  font-size: 14px;

}

#twitter-stats-category {
  font-weight: bold;
  color: #657786;
  font-size: 12px;
}


#custom-li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  padding-left: 0;
}

#custom-ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

/* @media only screen and (max-width: 1200px) {
  #profile-pic {
    height:50px;
    width:50px;
    display:relative;
    top:115px;
    left:25px;
  }
} */

#trend-title {
  font-size: 14px;
  font-weight: bold;
}

#trends-link {
  font-size: 9px;
  color: #803953;
  margin-left: 3px;
}

#custom-li-trending {
  list-style-type: none;
  text-align: left;
  color: #803953;
}

#number-of-tweets {
  list-style-type: none;
  text-align: left;
  color: #657786;
  font-size: 12px;

}

#custom-ul-trending {
  padding-left: 0;
  padding-top: 10px;
}

#follow-heading {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 10px;
}

#follow-title {
  font-size: 15px;
  padding-left: 10px;
  font-weight: bold;
}

#follow-links {
  font-size: 8px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

#follow-links-1 {
  font-size: 8px;
  padding-right: 10px;
  padding-top: 5px;
}

#profile-pic-follow {
  height: 36px;
  border-radius: 50px;
  width: 36px;
}

#follow-content {
  display: flex;
  /* border-bottom:1px solid #e6ecf0; */
  margin-left: 10px;
  margin-bottom: 20px;
}

#follow-text {
  font-size: 14px;
  margin-bottom: 0;
}

#follow-button-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#custom-button {
  padding: 0;
  border-radius: 50px;
  height: 70%;
  width: 85px;
  background-color: #803953;
  font-size: 10px;
  border: #803953;
}

span#twitter-handle {
  padding-left: 5px;
  font-size: 11px;
  color: #657786;
}

#custom-footer {
  color: #657786 !important;
  font-size: 12px;
}

#trending-content {
  text-align: left;
}

#follow-content-1 {
  padding-bottom:18px;
  display: flex;
  /* border-bottom:1px solid #e6ecf0; */
  margin-left: 10px;
  margin-bottom: 20px;
}